Checks: >
    bugprone-*,
    modernize-*,
    -modernize-use-nodiscard,
    performance-*,
    readability-*,
    -readability-magic-numbers
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 1
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: 1
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: 1
HeaderFilterRegex: 'src/*'
