[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/pigpio"]
	path = 3rdparty/pigpio
	url = https://github.com/joan2937/pigpio.git
